*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
}

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 5.2rem;
    font-family: sans-serif;
    cursor: pointer;
    
}

/* remove top border*/

.container div:nth-child(-n + 3) {
    border-top: none;
} 

/* remove right border*/

.container div:nth-child(3n) {
    border-right: none;
}

/* remove left border*/

.container div:nth-child(3n  - 2) {
    border-left: none;
} 

/* remove bottom border*/

.container div:nth-child(n + 7) {
    border-bottom: none;
}
